$componenta:#1D1E22;
$bg:#333642;
$modalColor:#444857;
$lineColor:#47CF73;
::-webkit-scrollbar {
  width: 2px;
  border-radius: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
  overflow-x: hidden;
    background-color: $bg;
    header{
        background-color: $componenta;
        align-items: center;
        .logo{
          width: 100px;
        }
        .componenta{
            .btn-componenta{
                background-color:  $bg;
                color: white !important;
            }
        }
    }
  .nav-link{
      color: white !important;
      font-weight: bold;
  }
  #result{
    width: 100%;
    height:100% ;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
  .result{
      position: absolute;
   
      top: 17%;
      right: 45%;
      font-weight: bold;
      transform: translateX(80%);
  }
}
textarea {
    resize: none;
    height: 400px !important;
    background-color: $componenta !important;
    color: white !important;
    box-shadow:2px 2px 4px rgba($color: #000000, $alpha: 0.5);
    z-index: 0;
    
  }
#settings{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  .layout{
    border:solid $bg 3px;
    position: relative;
    width: 800px;
    height: 500px;
    background-color: white;
    background-color: $componenta;
    .header{
      width: 100%;
      height: 50px;
      .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left:40px;
        padding-right:40px;
        p{
          font-size: 20px;
          font-weight: bold;
          color: white;
        }
        .close{
          background-color: $modalColor;
        }
      }
      .line{
        width: 100%;
        display: flex;
        margin-top: 5px;
        .line1{
          width: 20%;
          height: 2px;
          background-color: $lineColor
        }
        .line2{
          width: 80%;
          height: 2px;
        
          background-color: $bg;
        }
      }
    }
    section{
      position: relative;
      display: flex;
      height: 100%;
      .sidebar{
        margin-top: 15px;
        width: 30%;
        height: 80% !important;
        // border:solid 0.3px red;
        
        #ul{
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 0;
          .li{
            width: 100%;
            border: none;
            background-color:$componenta;
            list-style: none;
            text-decoration: none;
            padding-left: 10px;
            border-radius: 2px;
            border-left: 3px solid $componenta;
            color:white;
            margin-top: 5px;
            &:hover{
                  background-color: #2C303A; 
                  border-left: 3px solid $lineColor;
                
  
            }
            &:hover a{
              font-weight: 700;
            }
            a{
              text-decoration: none;
              color: white;
              font-weight: 600;
              font-size: 15px;
              text-transform: uppercase;
              margin-left: 10px;
            }
          }
        }
      }
      .body{
        overflow-y:auto ;
        height: 370px;
        flex: 1;
        .input-container{
          width: 100%;
          padding: 20px 40px;
       background-image: linear-gradient( to right, #202126, rgba(0, 0, 0, 0.418));;
        }
        textarea{
          width: 100% !important;
         height: 120px !important;
         margin: 0 auto;
        }
      
      }


    }
    .footer{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-color: $modalColor;
    }
  }
}
